

.leaf1 {
    top: 80px;
    left: 0px;
    position: absolute;
    z-index: 0;
}

.leaf2 {
    top: 380px;
    right: 40%;
    position: absolute;
}

.leaf3 {
    top: 900px;
    left: -10px;
    position: absolute;
    z-index: 1;
}
.leaf4{
    top: 800px;
    right: 0px;
    position: absolute;
    z-index: 1;
}
.cat {
    display: flex;
}
.meow {
    width: 90%;
    margin-top: -150px;
    margin-bottom: -200px;
    z-index:1;
    object-fit: contain;
}

.instructions{
    width:40%;
    height: 400px;
    padding-left: 3%;
    padding-top: 100px;
    font-weight: 700;
    font-size: 72px;
    color: #000000;
    white-space:nowrap;
    font-weight: bolder;
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}
p{
    margin:0px;
}
.meow-width{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    width:60%;
    height:450px;
}

.bottom-instructions{
    padding-left:3%;
    padding-right:3%;
    text-align: center;
    font-weight: bolder;
    font-family: "Zen Kurenaido", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-shadow: 1px 1px 0.5px black;
    color: #FFFFFF;
    position: relative;
    z-index:2;
}
/* .h-100{
    animation: LtoR 1s ease-in-out;
} */
    @keyframes LtoR{
    from{
    transform: scalex(0);
    }
    to{
        transform: scalex(1);
    }
    }
    @media (max-width: 1600px) {
        .instructions{
            font-size: 60px;
    }
}
    @media (max-width: 1335px) {
        .cat {
            display: flex;
            flex-wrap:wrap-reverse;
            }
        .instructions{
            width:100%;
            padding-top: 0px;
        }
        .meow-width{
            width:100%;
        }
    }
    @media (max-width: 1335px) {
        
        .instructions{
            width:100%;
            padding-top: 0px;
            font-size:30px;
        }
            
    }
    @media (max-width: 600px) {
        
        .bottom-instructions{
            
            padding-top: 0px;
            font-size:20px;
        }
            
    }
/* .tt1 {
   
    top: 550px;
    left: 100px;
    position: absolute;


    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;

    color: #000000;
}


.tt2 {
    top: 650px;
    left: 100px;
    position: absolute;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;

    color: #000000;

}

.tt3 {
    bottom: 20px;
    left: 50px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;

    color: #ffffff;
    z-index: 2;
} */